.page {
  max-width: 390px;
  min-width: 390px;
  font-family: 'GothamPro', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
  color: #2c2b31;
  background-color: #f0f0f0;
}
