.swiper-slide__image {
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-main .swiper-slide-thumb-active {
  opacity: .4;
}

.swiper-preview {
  height: 106px;
  box-sizing: border-box;
  padding: 20px 0;
  cursor: pointer;
}
